.addForm {
	@media (max-width: 1280px) {
		position: fixed;
		bottom: 5px;
		width: 95%;
		display: block;
		background-color: white;
		z-index: 10;
		pointer-events: all;
	}
}

table {
	@media (max-width: 1280px) {
		margin-bottom: 75px;
	}
}
