.addForm {
	@media (max-width: 1280px) {
		position: fixed;
		bottom: 5px;
		width: 95%;
		display: block;
		background-color: white;
		z-index: 10;
		pointer-events: all;
	}
	@media (max-width: 1050px) {
		width: 93.5%;
	}
	@media (max-width: 740px) {
		width: 91%;
	}
	@media (max-width: 450px) {
		width: 88%;
	}
	@media (max-width: 360px) {
		width: 87%;
	}
}

table {
	@media (max-width: 1280px) {
		margin-bottom: 75px;
	}
}
