.App {
  min-width: 300px;
  min-height: 500px;
  padding: 20px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btnRemove {
  float: right;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.btnRemove:hover {
      background: #ed7979;
      color: white;
      border: 1px solid rgb(186, 186, 186)
}

input[type=checkbox] {
  cursor: pointer;
}